<div class="row">
    <div class="col-md-6">
        <div ng-show="estatusConciliacion != 1">

      
        <div class="alert alert-danger" role="alert" ng-show="situacion.financiera != 0">
            <h4 class="alert-heading">
                <i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: 20px"></i> 
                Unidades no reportadas por Grupo Andrade!
            </h4>
            <p>No es posible realizar la CONCILIACIÓN debido a que Grupo Andrade no reporta unidades que en el Layout se especifican.</p>
            <hr>
            <p class="mb-0">
                <b>NOTA:</b> Debera actualizar la cartera para cuadrar la conciliación.
                <button type="button" class="btn btn-primary pull-right" ng-show="MuestracompraVirtual" ng-click="CompraVirtual()" >Compra Virtual</button>
            </p>
        </div>
    </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6 text-right">
                <h2><small>Periodo Contable:</small> <br>{{frmConciliacion.lblMes}}</h2>
            </div>
            <div class="col-md-6 text-right">
                <h2><small>Financiera:</small> <br>{{ lblFinanciera }}</h2>
            </div>
            <div class="col-md-12">&nbsp;</div>
            <div class="col-md-6 text-right">
              
            </div>
            <div class="col-md-6 text-right">
                <button type="button" class="btn btn-primary pull-right" ng-click="reporteConsulta()" >Carátula</button>
                <button type="button" class="btn btn-primary pull-right" ng-click="recalcularConci()" ng-show="estatusConciliacion == 2">Recalcular Conciliacion</button>
                <button type="button" class="btn btn-primary pull-right" ng-click="ActualizaSaldos()" ng-show="estatusConciliacion == 2">Actualizar Saldos</button>
                
            </div>            
        </div>
    </div>
</div>
<hr>
<hr>
<table id="tblConciliacion" class="table table-hover borderless">
    <thead>
        <tr>
            <th width="30"></th>
            <th>Numero Serie</th>
            <th>Moneda</th>
            <th>Saldo G.A.</th>
            <th>Saldo Financiera</th>
            <th>Diferencia</th>
            <th width="180">Situación</th>
            <!-- <th>Acción</th> -->
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(key, dato) in lstConceal" repeat-end="setTableStyle('#tblConciliacion')">
            <td>
                <input  type="checkbox"
                        ng-checked="dato.checked"
                        ng-disabled="true">
                <!-- ng-checked="situacion.financiera == 0" -->
            </td>
            <td>
                <b>{{dato.numeroSerie}}</b><br>
                <small class="text-warning">{{dato.CCP_IDDOCTO}}</small>
            </td>
            <td>{{dato.moneda}}</td>
            <td>{{dato.saldo | currency}}</td>
            <td>{{dato.valor | currency}}</td>
            <td>
                {{dato.saldo-dato.valor | currency}}
            </td>
            <td ng-class="  {
                                'celdaFondoRojo': dato.equiparante == 2,
                                'celdaFondoAmarillo': dato.equiparante == 3,
                            }">
                <table width="100%" border="0">
                    <tr>
                        <td width="50" class="text-center">
                           
                            <i ng-show="dato.equiparante == 2" class="fa fa-arrow-circle-right text-danger" 
                            aria-hidden="true" style="font-size: 20px "></i>

                            <i ng-show="dato.equiparante == 3" class="fa fa-arrow-circle-left text-warning" 
                            aria-hidden="true" style="font-size: 20px "></i>
                        </td>
                        <td>
                            <p ng-show=" dato.equiparante == 2">Reportada por la Financiera</p>
                            <p ng-show=" dato.equiparante == 3">Reportada por Grupo Andrade</p>
                        </td>
                    </tr>
                </table>
            </td>
            <!-- <td ng-class="dato.esMayor == 1 ? 'celdaFondoVerde' : dato.esMayor == 2 ? 'celdaFondoAmarillo' : 'celdaFondoRojo'  ">{{dato.diferencia| currency}}</td> -->
            <!-- <td>
                <button type="button" ng-show="dato.equiparante > 1" class="btn btn-danger" ng-click="BorrarFilaConci(dato)">Borrar</button>
                <button type="button" ng-show="dato.equiparante > 1 || dato.saldo==0" class="btn btn-danger" ng-click="seleccionarFilaConci(dato)">Seleccionar Tpp</button>
            </td> -->
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-sm-6">
        &nbsp;
    </div>
    <div class="col-sm-6">
      
        <div style="overflow: hidden;" ng-show="estatusConciliacion == 2">
            <button type="button" class="btn btn-primary pull-right" ng-click="GuardaConciliacionPasivos()">Guardar</button>
            <button type="button" class="btn btn-default pull-right" ng-click="prevStep()">Regresar</button>
        </div>
        <div style="overflow: hidden;" ng-show="estatusConciliacion != 2">
             <button type="button" class="btn btn-default pull-right" ng-click="prevStep()">Regresar</button>
            </div>
    </div>
</div>
<!--INICIA modal que muestra el reporte en pdf -->
<!--===================================================-->
<div id="reproteModalPdf" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#1f897f;">
                <button type="button" class="close" data-dismiss="modal">
                    <i class="pci-cross pci-circle" style="color:#fff;"></i>
                </button>
                <h4 class="modal-title text-center" id="myLargeModalLabel" style="color:#fff;">Conciliación</h4>
            </div>
            <div id="htmlReporteConciliacion" class="modal-body text-center">

                
            </div>
        </div>
    </div>
</div>
<!-- INICIA modal que muestra el reporte en pdf -->
<!--===================================================-->
<!-- <div id="BorrarFilaConciliacion" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="height: 300px;">
            <div class="modal-header" style="background-color:#1f897f;">
                <button type="button" class="close" data-dismiss="modal">
                    <i class="pci-cross pci-circle" style="color:#fff;"></i>
                </button>
                <h4 class="modal-title text-center" id="myLargeModalLabel" style="color:#fff;">Conciliación</h4>
            </div>
            <div class="modal-body text-center">
            <div class="col-sm-offset-4 col-sm-4">
                <label>Para poder borrar la fila seleccione la fecha fin de plan piso</label>
                <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                    <input type="text" class="form-control" ng-model="fechaPromesa">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                  
                </div>

            </div>
                  <button type="submit" class="btn btn-primary pull-right" ng-click="BorrarFila(fechaPromesa)" ng-disabled="!fechaPromesa">Borrar fila</button>
            </div>
           
        </div>
    </div>
</div> -->
<!--INICIA modal que muestra el reporte en pdf -->
<!--===================================================-->
<!-- <div id="SeleccionarFilaConciliacion" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
   
        <div class="modal-content" style="height: 300px;">
            <div class="modal-header" style="background-color:#1f897f;">
                <button type="button" class="close" data-dismiss="modal">
                    <i class="pci-cross pci-circle" style="color:#fff;"></i>
                </button>
                <h4 class="modal-title text-center" id="myLargeModalLabel" style="color:#fff;">Conciliación</h4>
            </div>
            <div class="modal-body text-center">
            <div class="col-sm-offset-2 col-sm-10">
                <label>Seleccionar la tpp correcta</label>
            </div class="row">
                <table id="tblTpp" class="table table-hover borderless">
                    <thead>
                        <tr>
                           
                            <th>Vin</th>
                            <th>TPP</th>
                            <th>Activo</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, dato) in lstTpp" repeat-end="setTableStyle('#tblConciliacion')">
                          
                            <td>{{dato.vin}}</td>
                            <td>{{dato.CCP_IDDOCTO}}</td>
                           
                            <td> <input  type="checkbox"
                                ng-checked="dato.active"
                                ng-disabled="true">
                            </td>
                          
                            <td>
                                <button type="button"  class="btn btn-danger" ng-show="!dato.active" ng-click="ActivarVin(dato)">Activar</button>
                               
                                <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy" ng-show="dato.active">
                                    <input type="text" class="form-control" ng-model="dato.fecha">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </div>
                                  
                                </div>
                                <button type="button" class="btn btn-danger" ng-show="dato.active"  ng-click="DesactivarVin(dato)" ng-disabled="!dato.fecha">Desactivar</button>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div class="row">
                  <button type="button" class="btn btn-primary pull-right" ng-click="recalcularConci()" >Cerrar y recalcular</button>
                  <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Cerrar</button>
            </div>
           
        </div>
    </div>
     -->
</div>
</div>